*{box-sizing: border-box;}
body {background-color: bisque;
    color: rgb(164, 137, 245);
    font-family:cursive;
    background-repeat:repeat-y;
    text-shadow: 2%;
    opacity: 80%;}
   

#cover {
    margin: auto;
    width: 40%;
    background-color:bisque;
    background-image: repeating-linear-gradient(to top, #9adefa, #f4a4e0);
    border: 1px solid #003}


header {background-color: aqua;
    color: magenta;
    background-image: url(A4pics/background.jpg) ;
    background-repeat: no-repeat;
    background-position: left;
    line-height: 500%;
text-indent: 6em;
background-size: contain;
border-radius: 30px 30px;
text-align: center;
animation-name: head;
animation-duration: 3s;}

@keyframes head{from{background-color: aqua;}to{background-color: cornflowerblue;}}

Header h1 {margin-bottom:0 ;
margin-top: 0;
text-indent: 3em;}

nav {
    width: 160px;
    margin-top: 0;
    padding: 1.5em;
    font-weight: bolder;
    transform: translate(-10px);
    }

nav li{border-bottom: 1px solid magenta;}

nav a{text-decoration: none;}
nav a:link{color: magenta;}
nav a:hover{color: aqua; background-color: cornflowerblue;transition: background-color 2s linear;}
nav a:visited{color: magenta;}

nav ul{list-style-type: none ;
       margin: 0;
       padding-right: 0;
       font-size: 1.2em ;}

footer {background-color: aqua;
    color: black;
    text-align: center;
    font-size: 75%;
    padding: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;}

h1 {font-family:'Courier New', Courier, monospace;
    text-shadow: 1px 1px 1px;
    text-align: center;
    }

ul {list-style-type:decimal-leading-zero ;}

h2 {color: fuchsia;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px;
    text-align: left;
    }

dt {color: palevioletred;}

.name{color: orchid;
    font-weight: bolder;}

#address{color: hotpink;}

#butterflyimg{
    background-image: url(A4pics/butterfly.png) ;
    height: auto;
    background-repeat: no-repeat;
    background-size: auto;
    background-position:right;
    max-width: 100%;
    }

table {border: 3px solid;}
td,th{border: 3px solid; text-align: center; padding: 0.5em;}


form{display: flex; flex-flow: column nowrap;}

input, textarea{margin-bottom: 1em;}

main {background-color:lightpink;
      padding-right: 30px;
      overflow: auto;
      padding: 1px 20px 20px 20px;}



@media (min-width: 1024px){
    nav{
        text-align: right;
        padding-right: 1em;
    }
    #cover {margin: auto;
        width: 40%;
        box-shadow:2px 2px 2px #333;
        border: 1px solid #333;
        display:grid;
        grid-template-columns:180px auto;
        grid-template-rows: auto;}

    header {grid-row:1/2; grid-column:1/3;}
    nav{grid-row:2/5; grid-column:1/2;}
    div{grid-row:2/3; grid-column:2/3;}
    main {grid-row:3/4; grid-column:2/3;}
    footer{grid-row:4/5; grid-column:2/3}

    nav li{border-bottom:0px;}

    section{ 
        float: right;
        width:33%;
        padding-left:2em;
        padding-right: 2em;}

    form{display:grid;
      grid-template-columns: 8em 1fr;
      grid-gap:1em;
      grid-template-rows: auto;
      width:40%;}

    input[type="submit"] {grid-column: 2/3; width: 6em;background-color:aqua;}
    

}